New notebook to test the difference between the tech rec mongo db and gal alum.
Currently, code working for gal alum but not tech recruiters.
1. Copy progress from mongodb_test
2. Replicate the gal alum process from
* Connection to mongo db
* Pull data into df
* Manipulate to correct format
* Create csv of all companies
* Create csvs of individual companies

3. New notebook section for tech recruiters

In [2]:
import pandas as pd
import mongo
# import est

# Galvanize Alumni CSV build

In [8]:
mongo.connect_mongo()
mongo.connect_coll('gal_part_proj', 'gal_alum')
cursor = mongo.coll.find({}, {'_id':0})

In [9]:
df = pd.DataFrame(cursor)

In [10]:
df = df.T
df.head()

,0,1,2,3,4,5,6,7,8,9,...,457,458,459,460,461,462,463,464,465,466
University of Texas at Austin,People Link 404,People Link 404,People Link 404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apple,NaN,NaN,NaN,{'Erin Gong': 'https://www.linkedin.com/in/eri...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dell Technologies,NaN,NaN,NaN,NaN,{'Daniel Donovan': 'https://www.linkedin.com/i...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IBM,NaN,NaN,NaN,NaN,NaN,{'James Helfrich': 'https://www.linkedin.com/i...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Instruments,NaN,NaN,NaN,NaN,NaN,NaN,No results,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
index = list()
results = list()

for idx, row in df.iterrows():
    index.append(idx)
    results.append(row[row.notnull()].values[0])

clean_df = pd.DataFrame(results, index=index)
clean_df.rename({0: 'Scrape Results'}, axis=1, inplace=True)
clean_df.head()

                                                                  Scrape Results
University of Texas at Austin                                    People Link 404
Apple                          {'Erin Gong': 'https://www.linkedin.com/in/eri...
Dell Technologies              {'Daniel Donovan': 'https://www.linkedin.com/i...
IBM                            {'James Helfrich': 'https://www.linkedin.com/i...
National Instruments                                                  No results

# Austin Technical Recruiters CSV build

In [12]:
mongo.connect_mongo()
mongo.connect_coll('gal_part_proj', 'ATX_tech_rec')
cursor = mongo.coll.find({}, {'_id':0})

df_tr = pd.DataFrame(cursor)
df_tr = df_tr.T
df_tr.head()

,0,1,2,3,4,5,6,7,8,9,...,189,190,191,192,193,194,195,196,197,198
9Gauge Partners,{'Carrie Guillory': 'https://www.linkedin.com/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abbott,NaN,{'Brandy Williams Broden': 'https://www.linked...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aceable,NaN,NaN,"{'Andrew Bolisay (he, him, his)': 'https://www...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AdbaKx,NaN,NaN,NaN,Company Page 404,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Addison Group,NaN,NaN,NaN,NaN,{'Hattie Cox': 'https://www.linkedin.com/in/ha...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,457,458,459,460,461,462,463,464,465,466
University of Texas at Austin,People Link 404,People Link 404,People Link 404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apple,NaN,NaN,NaN,{'Erin Gong': 'https://www.linkedin.com/in/eri...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dell Technologies,NaN,NaN,NaN,NaN,{'Daniel Donovan': 'https://www.linkedin.com/i...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IBM,NaN,NaN,NaN,NaN,NaN,{'James Helfrich': 'https://www.linkedin.com/i...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Instruments,NaN,NaN,NaN,NaN,NaN,NaN,No results,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## start by looking at tech recruiter `results` & `index` loop construction

In [21]:
cnt = 0
for idx, row in df_tr.iterrows():
#     index.append(idx)
    print(type(row[row.notnull()].values[0]))
    cnt +=1
    if cnt == 4:
        break

<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'str'>

In [22]:
cnt = 0
for idx, row in df.iterrows():
#     index.append(idx)
    print(type(row[row.notnull()].values[0]))
    cnt +=1
    if cnt == 4:
        break

<class 'str'>
<class 'dict'>
<class 'dict'>
<class 'dict'>